<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Information</title>
</head>

<body>
    <h2>Welcome
        <% if(cInfo.cgender=='Male' ) {%>
            Mr.
            <% for (let i=0; i<5; i++) {%>
                <%= cInfo.cname %>
                    <% } %>
                        <% } else { %>
                            Miss
                            <% for(let i=0; i<10; i++){%>
                                <%= cInfo.cname %>
                                    <%}%>
                                        <%}%>

    </h2>
    Your ID is <%= cInfo.cid %>
        <br> zip code:
        <b><i>
                <%= cInfo.czip %>
            </i></b>

        <% var cap="capital" ; var prov="province" %>
            <%= cInfo.ccity%>
                <% if(cInfo.ccity=='Bangkok' ) {%>
                    <%= cap %>
                        <%} else { %>
                            <%=prov%>
                                <% } %>



</body>

</html>
มีเมนูบริบท