[17:57] KANPICHAYA PUAPANICH
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branches</title>
</head>
<body>
    <h2>Our worldwild Branches</h2>
    <%= motto %> <br>
    <%= ishev %> <br>
    Our branch are at
    <%= br1 %>, <%= br2 %>, <%= br3 %>, <%= br4 %>,
    <%= br5 %>, <%= br6 %>, and <%= br7 %>
 
</body>
</html>