<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branches</title>
</head>
<body>
    <h2>Our Worldwide Branches</h2>
    <p><%= motto %></p>
    <p><%= ishev %></p>
    <p>Our branches are located at:</p>
    <ul>
        <li><%= br1 %></li>
        <li><%= br2 %></li>
        <li><%= br3 %></li>
        <li><%= br4 %></li>
        <li><%= br5 %></li>
        <li><%= br6 %></li>
        <li><%= br7 %></li>
    </ul>
</body>
</html>